.App {
  text-align: center;
}

p {
  font-size: 1.5ch;
}

.bracket {
  display: grid;
  grid-template-columns: repeat(2,1fr); /*Need to figure out how to make dynamic*/
}

.round {
  display: grid;
  align-items: center;
}

.game {
  background-color: lightskyblue;
  display: grid;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

.team {
  display: grid;
  grid-template-columns: 20px 200px;
  align-items: center;
  height: 40px;
}
